{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-category %}
<div class="container mt-4">
       <h2>Quản lý danh mục</h2>
    <div class="text-right mb-3">
       <button style="border: none;" class="btn btn-primary btn-sm" data-toggle="modal" ><a href="{% url 'addCategory' %}">Thêm danh mục</a></button>
  </div>

        <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th class="product-price">ID</th>
                    <th class="product-thumbnail">Ảnh</th>
                    <th class="product-name">Tên Danh Mục</th>
                    <th class="product-quantity">Đường dẫn</th>
                    <th class="product-total">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                  <tr>
                      <td class="product-price">{{category.id}}</td>
                    <td class="product-thumbnail">
                      <img style="height: 100px;" src="{{category.ImageURL}}" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      {{category.name}}
                    </td >
                    <td class="product-name">{{category.slug}}</td>
                      <td>
                          <a href="{% url 'editCategory' %}?id={{ category.id }}" class="btn btn-primary btn-sm">Sửa</a>
                                        <a href="{% url 'deleteCategory' %}?id={{ category.id }}" class="btn btn-danger btn-sm">Xóa</a>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
</div>
{% endblock blog-category %}
