
{% extends 'app/base.html' %}
{% load static %}
{% block category_context %}
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{products.ImageURL}}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2 class="text-black">{{products.name}}</h2>
           <p>{{products.describe}}</p>
            <p><strong class="text-primary h4">{{products.price | floatformat:2}}</strong></p>
            <div class="container">
              <h2>Size</h2>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="size39" value="39"> 39
                </label>
              </div>
              <div class="form-check form-check-inline">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="size40" value="40"> 40
                  </label>
              </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="size41" value="41"> 41
                    </label>
                </div>
            </div>
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
              </div>
              <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
              </div>
            </div>

            </div>
              <button style="border: none" data-product={{products.id}} data-action="addProduct" class="buy-now btn btn-sm btn-primary add-btn update-btn ">Thêm vào giỏ hàng</button>

          </div>
        </div>
      </div>
    </div>
{% endblock category_context %}