
{% extends 'app/base.html' %}
{% load static %}
{% block login_content %}
    <h5 class="pt-3">Keet qua tim kiem {{ search }}</h5>
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 order-2">
            <div class="row mb-5">
              {% for product in keys %}
              <div class="col-sm-6 col-lg-3 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single.html"><img src="{{product.ImageURL}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="{% url 'detail' %}?id={{ product.id }}">{{product.name}}</a></h3>
                    <p class="mb-0">Finding perfect t-shirt</p>
                    <p class="text-primary font-weight-bold">{{product.price | floatformat:2}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock login_content %}